*.pdf
/Java/Fundamentos/Paquetes/nbproject/private/
/Java/Fundamentos/Paquetes/build/
/Java/Fundamentos/PalabraFinal/nbproject/private/
/Java/Fundamentos/PalabraFinal/build/
/Java/Fundamentos/Arreglos/nbproject/private/
/Java/Fundamentos/Arreglos/build/
/Java/Fundamentos/Matrices/nbproject/private/
/Java/Fundamentos/Matrices/build/
/Java/Fundamentos/PuntoVenta/nbproject/private/
/Java/Fundamentos/PuntoVenta/build/
